---
layout: default
title: Education
---

<h1>Education</h1>

<div class="education-container">
  <div class="education-item">
    <img src="assets/img/universities/xyz-university-logo.png" alt="XYZ University" class="education-img">
    <h2>Bachelor of Technology in Computer Science</h2>
    <p class="institution">Institution: XYZ University</p>
    <p class="year">Year: 2015-2019</p>
  </div>

  <div class="education-item">
    <img src="assets/img/universities/abc-university-logo.png" alt="ABC University" class="education-img">
    <h2>Master's in Data Science</h2>
    <p class="institution">Institution: ABC University</p>
    <p class="year">Year: 2019-2021</p>
  </div>
</div>
